* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-family: "maple", serif;
}

@font-face {
    font-family: "maple";
    /*src: url('./font/Maplestory Light.ttf');*/
    src: url("./font/Maplestory Bold.ttf");
    font-weight: normal;
}